@import "tailwindcss";

@theme {
  --color-blue-600: #2563eb;
  --color-blue-500: #3b82f6;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
